@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://static.vecteezy.com/system/resources/previews/032/242/170/non_2x/beautiful-waterfall-flowers-water-nature-waterfall-hd-wallpaper-ai-generated-free-photo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/*Dark Mode looking scrollbar*/
::-webkit-scrollbar{
	width: 8px;
}

::-webkit-scrollbar-track{
	background: #555;
}

::-webkit-scrollbar-thumb{
	background: #121212;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #242424;
}